<div class="page-title orange lighten-5">
  <h4>Categories</h4>
  <button
    class="waves-effect waves-light btn deep-orange darken-1"
    routerLink="/categories/new"
  >
    Add a category
  </button>
</div>

<div
  class="row orange lighten-5"
  *ngIf="categories$ | async as categories; else loader"
>
  <div class="col s12">
    <div class="collection" *ngIf="categories.length !== 0; else empty">
      <a
        *ngFor="let category of categories"
        [routerLink]="['/categories', category._id]"
        class="collection-item  yellow accent-1"
      >
        {{category.name}}
      </a>
    </div>
    <ng-template #empty>
      <div class="center">
        You don't have a single category
      </div>
    </ng-template>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
